@page
@model Dotnetstore.Intranet.Web.Pages.Users.Confirm

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Localizer["ConfirmEmailAddress"]</h1>
<p data-testid="p_confirm_email_address">@Model.Message</p>