@page
@model Dotnetstore.Intranet.Web.Pages.Users.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 data-testid="title_login">Login</h1>
        
<h4>Login user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginModel.Username" class="control-label"></label>
                <input asp-for="LoginModel.Username" class="form-control" autofocus="autofocus" />
                <span asp-validation-for="LoginModel.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginModel.Password" class="control-label"></label>
                <input asp-for="LoginModel.Password" type="password" class="form-control" />
                <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}